<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Author">

    <title>{{ title }}</title>

    <!-- Add custom CSS here -->
</head>

<body>

    {% block content %}
    <!-- Full Page Image Header Area -->
    <div id="top">
            <h1>This is a test</h1>
            <p>
                <em>Ok</em>, and now?<br>
            <a href="{{ url_for('page') }}">Link on other page</a>
        </p>
    </div>
    <!-- /Full Page Image Header Area -->

    {% endblock %}

    <!-- Footer -->
    <footer>
        <p>Copyright notice</p>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->

</body>

</html>
