{% extends 'index.html' %}
    {% block content %}

    <!-- Intro -->
    <div id="page">
        <h2>Second Page!</h2>
        <p>
            This example is deliberately banal, but with some with little effort we can
            expand this site, create new pages, adding sections ...<br>
            <a href="{{ url_for('home') }}">Go back!</a>
        </p>
    </div>
    <!-- /Intro -->

    {% endblock %}